.section {
  margin: 10px 0 20px 0;
  background: #ffffff;
  border-radius: 5px;
}

.section:last-child {
  margin: 10px 0 0 0;
}

.ant-list-item-meta-title {
  margin-bottom: 15px;
}

.section-title {
  font-weight: 600;
  font-size: 25px;
}

.section-item {
  padding: 0 30px 30px 30px;
}

.btn-submit {
  margin-top: 10px;
  width: 120px;
  border-radius: 5px;
  font-weight: bold;
}
